.footer-container{
    background-color: #222222;
    padding: 40px 15px;
    text-align: center;
}

.footer-container .container{
    color: white;
    display: block; 
}
.footer-img img{
    width: 350px;
    height: 90px;
}